.inputDialog {
    width: 18.5vw;
    height: 6vh;
    border: 1.8px solid #aaa;
    border-radius: 12px;
    margin-top: 10px;    
    /* color: #fff; */
    font-size: 17px;
}

#dialogContainer {
    display: flex;
    flex-direction: column;
}

#divBtnDialog {
    display: flex;
    justify-content: center;
}

#btnDialog {
    color: #fff;
    background-color: #0275d8;
    margin-top: 20px;
    width: 130px;
}